PORT=3001
DATABASE_URL=postgres://users_user:users_password@localhost:5433/users_db
RABBITMQ_URL=amqp://guest:guest@localhost:5672
RABBITMQ_EXCHANGE=facoffee.events
KEYCLOAK_REALM_URL=http://localhost:8080/realms/facoffee
KEYCLOAK_BASE_URL=http://localhost:8080
KEYCLOAK_REALM=facoffee
KEYCLOAK_ADMIN_REALM=master
KEYCLOAK_ADMIN_CLIENT_ID=admin-cli
KEYCLOAK_ADMIN_USERNAME=facoffee
KEYCLOAK_ADMIN_PASSWORD=facoffee